$enable-negative-margins: true;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
        $utilities,
        (
            "subtle-background-color": map-merge(
                    map-get($utilities, "subtle-background-color"),
                    (
                        state: hover,
                    ),
            ),
        )
);

@import "bootstrap/scss/utilities/api";

@import 'bootstrap/scss/bootstrap';
@import './tom-select/tom-select.bootstrap5';
@import 'flatpickr/dist/themes/dark.css';

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.menu-link {
    @extend .rounded, .px-2, .py-1;

    margin-left: 1.8rem;

    &:hover, &.active {
        background-color: rgba($blue-500, 0.5) !important;
        color: $light-text-emphasis-dark !important;
    }
}

.side-menu-wrapper {
    max-height: calc(100vh - 56px);
}
